
@{
    ViewBag.Title = "Create";
}

<h2>Category</h2>
<form method="post">
    <label>Name</label>
    <input name="Name"/>
    <div style="padding:20px">

    </div>
    <br />
    <label>Discription</label>
    <input name="Discription" />
<hr />
    <button type="submit">Save</button>
</form>

