@model List<JacketHub.Entitties.Product>


<h2>ProductTable</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Discription</td>
            <td>Category</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Discription</td>
            <td>-</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>

            </td>
        </tr>
        }
    </tbody>
</table>
